@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f0f4f8;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility debug {
  border: black 1px solid;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
